body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.fade {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(34, 34, 34, 0.9);
    color: #fff;
   z-index: 10;
    padding: 0 20px;
    box-sizing: border-box;
}

.logo {
    margin-left: -20px;
    padding-left: 15px;
    padding-right: 25px;
    background-color: rgba(34, 34, 34, 1);
    display: flex;
    align-items: center;
}

.logo img {
    margin-right: 10px;
}

.logo h1 {
    font-size: 25px;
}

header img {
    width: 40px;
    height: 50px;
    margin: 10px;
}

nav {
    display: flex;
    height: 100%;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

nav ul li {
    margin: 0 1rem;
    padding: 20px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li:hover {
    background-color: rgba(0, 0, 0, 0.7);
}

.video1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: -1;
}

.video1 video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #1a1a1a;
    margin: 0;
    padding: 0;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 10px;
    width: 80%;
    max-width: 800px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Bebas Neue', sans-serif;
}

.content h2 {
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
}

.content p {
    font-size: 20px;
    line-height: 1.5;
}

.divider {
    border: 0;
    height: 2px;
    background: white;
    margin: 20px auto;
    width: 70%;
    max-width: 600px;
}

.promo-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin: 20px auto;
    max-width: 1000px;
    box-sizing: border-box;
    color: white;
    text-align: left;
    background-color: inherit;
}

.text-content {
    width: 60%;
    margin-right: 20px;
}

.text-content h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.text-content p {
    font-size: 18px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.explore-button {
    display: inline-block;
    background-color: #e50914;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s; 
}

.explore-button:hover {
    background-color: #b20710;
    transform: scale(1.05);
}

.image-content {
    width: 40%;
}

.image-content img {
    width: 100%;
    border-radius: 10px;
}

.gameplay-section {
    width: 100%;
    background-color: #202020;
    padding: 20px 20px;
    box-sizing: border-box;
    text-align: center;
}

.gameplay-section h2 {
    font-size: 36px;
    color: #fff;
    margin-bottom: 20px;
}

.gameplay-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gameplay-item {
    width: 45%;
    background-color: #2a2a2a;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    box-sizing: border-box;
    color: #fff;
    text-align: left;
    overflow: hidden; 
    transition: background-color 0.3s, transform 0.3s;
}

.gameplay-item:hover {
    background-color: #1e1e1e;
}

.gameplay-item img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
    transition: transform 0.5s ease; 
}

.gameplay-item:hover img {
    transform: scale(1.1); 
}

.gameplay-item h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.gameplay-item p {
    font-size: 16px;
    line-height: 1.5;
}

.download-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    margin: 40px auto;
    max-width: 1200px;
    box-sizing: border-box;
    color: black;
    text-align: left;
    background-color: #f15a8a; 
    border-radius: 10px;
}

.download-text {
    width: 50%;
    padding: 20px;
    color: white;
}

.download-text h2 {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
}

.download-text p {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
}

.download-button {
    display: inline-block;
    padding: 10px 20px;
    background-color: white;
    color: #f15a8a;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
}

.download-button:hover {
    background-color: #ff8fb1;
    transform: scale(1.05);
}

.download-image {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-image img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    padding-top: 20px;
    width: 100%;
    background: #1a1a1a;
    color: white;
    text-align: center;
    box-sizing: border-box;
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-logos {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.footer-logo-container {
    display: flex;
    align-items: center;
    margin: 0 10px;
}

.footer-logo1 {
    margin: 0 10px;
    height: 40px; 
}

.footer-logo2 {
    margin: 0 10px;
    height: 65px; 
}

.footer-logo-container span {
    font-weight: bold; 
}

.social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.social-icon {
    width: 30px; 
    margin: 0 10px;
    transition: transform 0.3s; 
}

.social-icon:hover {
    transform: scale(1.3); 
}

.social-icon img {
    width: 100%;
    height: auto;
}

.footer-bottom {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: #ff0000;
    padding: 20px;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
}

.footer-bottom p {
    margin: 0;
    color: white;
}

@media screen and (max-width: 768px) {
    nav ul li {
        display: block;
        margin: 0.5rem 0;
        padding: 10px;
    }

    .logo h1 {
        font-size: 20px;
        width: auto;
    }

    .content h2 {
        font-size: 36px;
    }

    .content p {
        font-size: 16px;
    }

    .divider {
        width: 80%;
    }

    .promo-content {
        flex-direction: column;
        text-align: center;
    }

    .text-content, .image-content {
        width: 100%;
        margin-bottom: 20px;
    }

    .text-content h2 {
        font-size: 28px;
    }

    .text-content p {
        font-size: 14px;
    }

    .image-content img {
        width: 100%;
    }

    .gameplay-container {
        flex-direction: column;
        align-items: center;
    }

    .gameplay-item {
        width: 90%;
    }

    .download-section {
        flex-direction: column;
        text-align: center;
    }

    .download-text, .download-image {
        width: 100%;
    }

    .download-section img {
        width: 100%;
        margin-left: 0;
        margin-top: 20px;
    }

    .footer-logos {
        flex-direction: column;
    }

    .footer-logo-container {
        margin: 10px 0;
    }
}

.fade {
    opacity: 0;
    transition: opacity 1.5s ease-in-out;
}

.fade-in {
    opacity: 1;
}
